<template>
	<div class="body">
		<div class="container">
			<div class="row pt-3">
				<div class="col-md-2 mr-auto pt-3 pb-5">
					<img class="mx-auto d-block img-fluid" :src="logo">
				</div>
			</div>
			<div class="row row-content">
				<div class="col-3 flex-item text-dark mr-5 rounded  cursor-pointer">
					<div class="bg-white pl-3 pt-4 pb-4 pr-3 rounded mb-3">
						<div class="user-account ">
							<div class="detail d-flex">
								<div>
									<img :src="cursorBack">
								</div>
								<h3 class="font-weight-bold mb-2 ml-2">kembali ke Halaman Awal</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8 flex-item text-dark bg-white rounded">
					<div class="header-title p-2 mt-3 d-flex justify-content-between">
						<h3 class="font-weight-bold">Profile</h3>
						<div class="d-flex justify-content-end m-1">
								<div class="font-weight-bold p-2 cursor-pointer menu-save ">
								<small>Cancel</small>
								</div>
								<div class="font-weight-bold p-2 cursor-pointer menu-save">
								<small>Save</small>
								</div>
						</div>
					</div>
					<div class="nav-bar-setting">
						<div class="d-flex justify-content-start m-6">
							<div  class="m-2 cursor-pointer nav-set"	:class="menuActive == 'fotoOrganisasi' ? 'active':''" @click="handleMenu('fotoOrganisasi')">
								<small>Foto organisasi</small>
							</div>
							<div  class="m-2 cursor-pointer nav-set"	:class="menuActive == 'InformasiOrganisasi' ? 'active':''" @click="handleMenu('InformasiOrganisasi')">
								<small>Informasi Organisasi</small>
							</div>
							<div  class="m-2 cursor-pointer nav-set"	:class="menuActive == 'AlamatOrganisasi' ? 'active':''" @click="handleMenu('AlamatOrganisasi')">
								<small>Alamat Organisasi</small>
							</div>
						</div>
					</div>
						<div v-if="menuActive == 'fotoOrganisasi'">
							<div class="set-profil m-6">
								<div class="ml-2 mt-3 font-weight-bold" >
									<h2>Foto Profil</h2>
								</div>
							</div>	
							<div class="d-flex justify-content-start">
								<img  class="pic ml-2 mt-4 rounded" :src="LogoRelawan">
								<div>
									<div class="note-img ml-3 mt-5 col-5 text-align">
										<small class="font-size">Besar file: maksimum 10.000.000 bytes (10 Megabytes) Ekstensi file yang diperbolehkan: .JPG .JPEG .PNG</small>
										<div class="button-CP  mt-3 text-center btn-upload rounded p-2 cursor-pointer">
											<h2>Unggah Foto</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="set-profil m-6">
								<div class="ml-2 mt-5 font-weight-bold" >
									<h2>Foto Sekre</h2>
								</div>
							</div>
							<div class="d-flex justify-content-start">
								<img  class="pic-organisasi ml-2 mt-4 rounded mb-5"  :src="PicOrganisasi">
								<div>
									<div class="note-img ml-3 mt-4 col-5 text-align">
										<small class="font-size">Besar file: maksimum 10.000.000 bytes (10 Megabytes) Ekstensi file yang diperbolehkan: .JPG .JPEG .PNG</small>
										<div class="button-CP  mt-3 text-center btn-upload rounded p-2 cursor-pointer">
											<h2>Unggah Foto</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div v-if="menuActive == 'InformasiOrganisasi'">
							<div class="form-editProfile">
								<form>
									<div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Nama Organisasi</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="Indonesia Sehat">
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Jenis Organisasi</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>Bantuan Bencana</option>
										      <option>Logistik</option>
										      <option>Material</option>
										      <option>Pendidikan</option>
										      <option>Psikologis</option>
										    </select>
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Nomor SKT</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="IS111000229AB1110">
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Tanggal SKT</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>19/08/2004</option>
										      <option>2</option>
										      <option>3</option>
										      <option>4</option>
										      <option>5</option>
										    </select>
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Periode Awal</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="2004">
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Periode Akhir</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>2012</option>
										      <option>2</option>
										      <option>3</option>
										      <option>4</option>
										      <option>5</option>
										    </select>
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Nama Ketua</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="Faisal">
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Nama Sekretaris</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="Willy">
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Nama Bendahara</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="Bambang">
									    </div>
								   </div>
								</form>
							</div>
						</div>

						<div v-if="menuActive == 'AlamatOrganisasi'">
						<div class="form-editProfile">
								<form>
									<div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Alamat Organisasi</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="Nitikan UH 6/317 Yogyakarta">
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 ml-0">
									      <label for="input-organisasi"><small>Provinsi</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>DKI Jakarta</option>
										      <option>2</option>
										      <option>3</option>
										      <option>4</option>
										      <option>5</option>
										    </select>
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4">
									    <div class="form-group col-md-3 ">
									      <label for="input-organisasi"><small>Kabupaten</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>Jakarta Selatan</option>
										      <option>2</option>
										      <option>3</option>
										      <option>4</option>
										      <option>5</option>
										    </select>
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Kecamatan</small></label>
									      	<select class="form-control mt-3 style-inputOrganisasi rounded-0 font-weight-bold" id="exampleFormControlSelect1">
										      <option>Mampang</option>
										      <option>2</option>
										      <option>3</option>
										      <option>4</option>
										      <option>5</option>
										    </select>
									    </div>
								   </div>
								   <div class="form-row ml-1 mt-4 mb-4">
									    <div class="form-group col-md-3 mr-3">
									      <label for="inputEmail4"><small>Nomor Telephone</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold" id="inputOrganisasi" placeholder="08990855889">
									    </div>
									    <div class="form-group col-md-3 ml-5">
									      <label for="input-organisasi"><small>Nomor Handphone</small></label>
									      <input type="text-form" class="style-inputOrganisasi font-weight-bold text-dark" id="inputOrganisasi" placeholder="08990855008">
									    </div>
								   </div>
								</form>
							</div>
						</div>
						</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
	import logo from '@/assets/logopng.png'
	import LogoRelawan from '@/assets/relawanjaya.png'
	import cursorBack from '@/assets/Vector (Stroke).png'
	import PicOrganisasi from '@/assets/rapat.png'
	import axios from 'axios'

	export default {
  		name: 'DasboardDaftarDiterima',
  		data: function() {
	    	return {
	      		logo: logo,
	      		LogoRelawan: LogoRelawan,
	      		PicOrganisasi: PicOrganisasi,
	      		cursorBack: cursorBack,
	      		dataUser: null,
	      		menuActive: 'fotoOrganisasi',
	      			
	      		// massage: '',
	   		}
 		},
 		methods:{
 			handleMenu(menu){
 				this.menuActive = menu
 			},
 		},
 		

 		// 	// handleLogin(){
	 	// 	// 	axios.post('https://relaone-api.herokuapp.com/users',{
	 	// 	// 		message: this.massage
	 	// 	// 	})
	 	// 	// 	.then(res => {
	 	// 	// 		this.dataUser = res.data
	 	// 	// 	})
	 	// 	// 	.catch(function(error){
	 	// 	// 		console.log(error)
	 	// 	// 	})
 		// 	// }
 		
 		// beforeMount(){
 		// 	axios.get('https://relaone-api.herokuapp.com/users')
 		// 	.then(res => {
 		// 		this.dataUser = res.data
 		// 	})
 		// 	.catch(function(error){
 		// 		console.log(error)
 		// 	})
 		// }
	} 
</script>
<style  scoped>
.nav-dashboard{
	display: block;
}
.body	{
	background-color: #F8F8F8;
	min-height: 100vh;
}
.clr 	{
	background-color: #FFFFFF;
	color: #000000;
}
.border 	{
	border-radius: 4px;
	background-color: #FFFFFF;
}

.brd {
	border: none;
}
/*a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}*/

.custom-image{
	max-width: 40px;
	max-height: 40px;
}

.cursor-pointer{
	cursor: pointer;
}

.active{
	border-bottom: 2px solid #007bff;
	border-radius: 2px;
	
}

.custom-image-setMail		{
	max-width: 20px;
	max-height: 20px;
	margin-left: 6rem;
	/*margin-top: 6px;*/
}
.th-col	{
	color: #AFB8C3;
}
.menu-save	{
	color: #0065FF;
}
.menu-save:hover	{
	background-color:#0065FF ;
	color:#FFFFFF ;
	border-radius: 4px;
}

.nav-set 	{
	color: rgba(0, 0, 0, 0.6);
}
.pic 	{
	max-width: 150px;
	max-height: 150px;
}
.font-size	{
	font-size: 13px;
	color: #999999;	
}
.btn-upload	{
	background-color: rgba(0, 101, 255, 0.15);
	color: #0065FF;
}
.pic-organisasi		{
	max-width: 150px;
	max-height: 120px;

}
.style-inputOrganisasi	{
	border: none;
    border-bottom: 2px solid #CED4DB;
    margin-top: 15px;
    margin-right: 20px;
    height: calc(2.25rem + 2px);
    padding: 0px;	
}
input[type=text-form]:focus {
    border-bottom: 2px solid #0065FF;
}

/*.active{
	border-bottom: : 5px solid #007bff;
}*/
</style>