<template>
	<div class="body">
		<div class="container">
			<div class="row row-content pt-3">
				<div class="col-md-2 mr-auto pt-3 pb-5">
					<img class="mx-auto d-block img-fluid" :src="logo">
				</div>
				<div class="col-auto pt-4 pb-5 mr-5">
					<div>
						<select class="form-control">
						  <option>Last Day 30</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row row-content">
				<div class="col-3 flex-item text-dark mr-5 rounded">
					<div class="bg-white p-3 rounded mb-3">
						<div class="user-account d-flex">
							<img :src="relawanJaya" class="rounded-circle custom-image mr-2" alt="testImeag">

							<div class="detail">
								<h3 class="font-weight-bold mb-2">Rumah Bencana</h3>
								<small class="text-primary">Terverivikasi</small>
							</div>
						</div>
					</div>

					<div class="bg-white side-menu rounded">
						<ul class="list-group ">
							<li class="p-3 cursor-pointer d-flex" :class="menuActive == 'pendaftar' ? 'active':''" @click="handleMenu('pendaftar')"><img class=" mr-2 " :src="pendaftar1"><div class="ml-3">Pendaftar</div></li>
							<li class="p-3 cursor-pointer d-flex" :class="menuActive == 'event' ? 'active':''" @click="handleMenu('event')"><img :src="logoEvent"><div class="ml-3">Event</div></li>
							<li class="p-3 cursor-pointer d-flex" :class="menuActive == 'setting' ? 'active':''" @click="handleMenu('setting')"><img  :src="logoSetting"><div class="ml-3">Setting</div></li>
						</ul>
					</div>
				</div>

				<div v-if="menuActive == 'pendaftar'" class="col-8 flex-item text-dark bg-white rounded ">
					<div class="header-title p-3 d-flex justify-content-between">
						<h3 class="font-weight-bold">Pendaftar Baru</h3>
						<div class="data-found">
							<h2 class="font-weight-bold">
								12000
							</h2>

							<small class="text-secondary">DATA FOUND</small>
						</div>
					</div>
					<div class="flex-item  mb-3">
						<div class="form-row ml-1 mt-4">
						    <div class="form-group col-md-6">
						      <input type="email" class="form-control sm" id="inputEmail4" placeholder="Cari Menggunakan Id atau Nama" >
						    </div>
						    <div class="form-group col-md-2">
						      	<select class="form-control" id="exampleFormControlSelect1" placeholder="filter">
							      <option>Filter</option>
							      <option>2</option>
							      <option>3</option>
							      <option>4</option>
							      <option>5</option>
							    </select>
						    </div>
						    <div class=" ml-auto p-2 bd-highlight mt-1">
						    	<small class=" download-all cursor-pointer ">Download Semua</small>
						    </div>
					   </div>
					</div>
					<div class="table-content-user">
						<table class="table table-borderless">
						  <thead class="th-col text-center">
						    <tr>
						      <th scope="col">ID</th>
						      <th scope="col text-secondary">NAMA</th>
						      <th scope="col text-secondary">TANGGAL</th>
						      <th scope="col text-secondary">POSISI</th>
						      <th scope="col text-secondary">DOMISILI</th>
						      <th scope="col text-secondary">DOKUMEN</th>
						      <th scope="col text-secondary">AKSI</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr v-for="(user,key) in dataUser" :key="key">
						      <th scope="row">{{user.id}}</th>
						      <td>{{user.first_name}}</td>
						      <td>{{user.created_at.split('T')[0]}}</td>
						      <td>@mdo</td>
						      <td>@mdo</td>
						      <td><div class="td-div cursor-pointer">Download</div></td>
						      <td>@mdo</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>

				<div v-if="menuActive == 'event'" class="col-8 flex-item text-dark bg-white rounded">
					<div class="header-title p-3 d-flex justify-content-between">
						<h3 class="font-weight-bold">Event</h3>
						<div class="data-found">
							<h2 class="font-weight-bold">
								12000
							</h2>

							<small class="text-secondary">DATA FOUND</small>
						</div>
					</div>

					<div class="table-content-user">
						<div class="d-flex bd-highlight mb-3" v-if="checklistActive == 'cek'">
							<div class="mr-auto p-2 bd-highlight">
								<div class="custom-control custom-checkbox ml-1">
								  <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
								  <label class="custom-control-label" for="customCheckDisabled"> 1 item terpilih</label>
								</div>
							</div>
						  	<div class="p-2 bd-highlight p-2 mr-5 cursor-pointer text-center pilih-semua">Pilih Semua</div>
						  	<div class="p-2 bd-highlight p-2 mr-5 cursor-pointer text-center hapus">Hapus</div>
						  	<div class="p-2 bd-highlight p-2 mr-3 cursor-pointer text-center buat-event">Buat Event</div>
						</div>
						<table class="table table-borderless">
							<thead class="th-col ">
								<tr class="text-dark font-weight-bold">
									<th scope="col">
								      <div class="custom-control custom-checkbox ">
								        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" :class="checklistActive == 'cek' ? 'active':''" @click="chcecklistItem('cek')" >
								        <label class="custom-control-label" for="customControlAutosizing"></label>
								      </div>
									</th>
								    <th scope="col text-secondary text-left">Tentang Event</th>
								    <th scope="col text-secondary text-center">Posisi Dicari</th>
								    <th scope="col text-secondary">Spesifikasi</th>
								    <th scope="col text-secondary">Aksi</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td>
										<div>Volunteer Gampa Bumi Palu</div>
										<div class="mt-2 font-size-location"><small>Sulawesi Tengah</small></div>
										<div class="mt-2 font-size-ket"><small>4 Days Ago</small></div>

									</td>
									<td>Medical</td>
									<td>
										<div class="">
										<small class="style-spesifikasi">Laki-Laki</small>	
										<small class="style-spesifikasi">Sim A</small>
										</div>
										<div class="mt-3">
										<small class="style-spesifikasi">Perenang</small>	
										<small class="style-spesifikasi">Perenang</small>
										</div>
										<div class="mt-3">
										<small class="style-spesifikasi">Perenang</small>	
										<small class="style-spesifikasi">3+</small>
										</div>
									</td>
									<td ><div class="td-div">Ubah</div></td>
								</tr>
								<div :class="checklistActive == 'checkList' ? 'active':''" @click="chcecklistItem('checkList')"></div>
								<div v-if="checklistActive == 'checkList'"></div>
							</tbody>
						</table>
					</div>
				</div>

				<div v-if="menuActive == 'setting'" class="col-8 flex-item text-dark bg-white rounded">
					<div class="header-title p-3 d-flex justify-content-between">
						<h3 class="font-weight-bold">Setting</h3>
						<div class="data-found">
							<small class="text-secondary">LOGOUT</small>
						</div>
					</div>

					<div class="table-content-user">
						<div class="set-mail">
							<h2 class="font-weight-bold mb-4">Login & Keamanan</h2>
								<div class="d-flex">
									<div class="col-5 ml-0 p-0">
										<h1 class="mb-2 text-secondary">Alamat Email</h1>
										<small>agilsurya5@gmail.com</small>
									</div>
									<div >
										<img class="mt-4 cursor-pointer" :src="setLogo" alt="testImeag">
									</div>
								</div>
							</div>
						</div>
						<div class="set-pas">
							<div class="d-flex">
								<div class="col-5 ml-0 p-0">
									<h1 class="mb-2 mt-4 text-secondary">Kata Sandi</h1>
									<small>**********</small>
								</div>
								<div>
									<img :src="setLogo" class="mt-4 cursor-pointer" alt="testImeag">
								</div>
							</div>
						</div>
						<div class="set-bhs mb-4">
							<h2 class="mb-2 mt-5 font-weight-bold">Preferensi Situs</h2>
								<div class="d-flex">
									<div class="col-5 ml-0 p-0">
										<h1 class="mb-2 mt-4 text-secondary">Bahasa yang digunakan</h1>
										<small>Bahasa Indonesia</small>
									</div>
									<div>
										<img :src="setLogo" class="mt-4 cursor-pointer" alt="testImeag">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
	import logo from '@/assets/logopng.png'
	import search from '@/assets/searchpng.png'
	import logoEvent from '@/assets/Chart-14 (1).png'
	import setLogo from '@/assets/Group 9.png'
	import relawanJaya from '@/assets/relawanjaya.png'
	import logoSetting from '@/assets/Settings-2 (1).png'
	import pendaftar1 from '@/assets/User.png'
	import axios from 'axios'

	export default {
  		name: 'DasboardDaftarDiterima',
  		data: function() {
	    	return {
	      		logo: logo,
	      		search: search,
	      		logoEvent: logoEvent,
	      		setLogo: setLogo,
	      		logoSetting: logoSetting,
	      		relawanJaya: relawanJaya,
	      		pendaftar1: pendaftar1,
	      		dataUser: null,
	      		menuActive: 'pendaftar',
	      		checklistActive: 'checkList'	
	      		// massage: '',
	   		}
 		},
 		methods:{
 			handleMenu(menu){
 				this.menuActive = menu
 			},
 			chcecklistItem(checkList){
 				this.checklistActive = checkList
 			}

 			// handleLogin(){
	 		// 	axios.post('https://relaone-api.herokuapp.com/users',{
	 		// 		message: this.massage
	 		// 	})
	 		// 	.then(res => {
	 		// 		this.dataUser = res.data
	 		// 	})
	 		// 	.catch(function(error){
	 		// 		console.log(error)
	 		// 	})
 			// }
 		},
 		beforeMount(){
 			axios.get('https://relaone-api.herokuapp.com/users')
 			.then(res => {
 				this.dataUser = res.data
 			})
 			.catch(function(error){
 				console.log(error)
 			})
 		}
	} 
</script>
<style  scoped>
.nav-dashboard{
	display: block;
}
.body	{
	background-color: #F8F8F8;
	min-height: 100vh;
}
.clr 	{
	background-color: #FFFFFF;
	color: #000000;
}
.border 	{
	border-radius: 4px;
	background-color: #FFFFFF;
}

.brd {
	border: none;
}
/*a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}*/

.custom-image{
	max-width: 40px;
	max-height: 40px;
}

.cursor-pointer{
	cursor: pointer;
}

.active{
	border-left: 5px solid #007bff;
}

.custom-image-setMail		{
	max-width: 20px;
	max-height: 20px;
	margin-left: 6rem;
	/*margin-top: 6px;*/
}
.th-col	{
	color: #AFB8C3;
}
.td-div	{
	background-color: #0065ff1a;
	padding: 4px;
	text-align: center;
	border-radius: 4px;
	color: #0065FF;
}
.td-div:hover	{
	background-color: #0065FF ;
	color:#FFFFFF ;
}
.download-all	{
	background-color: #0065FF;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 4px;
}
.download-all:hover	{
	background-color: #0065ff1a;
	color: #0065FF;
}
.style-spesifikasi 	{
	border:1px solid #52c03733;
	margin-right: 7px;
	color: #52C037;
	border-radius: 5px;
	padding: 4px;
	margin-top: 4px;
}
.font-size-location 	{
	font-size: 12px;
	color: #AFB8C3;
}
.font-size-ket	{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}
.pilih-semua 	{
	color: #AFB8C3;
	border-radius: 4px;
}
.pilih-semua:hover 	{
	background-color: #0065FF;
	color: #FFFFFF; 
}
.hapus 	{
	color: #EB5757;
	border-radius: 4px;
}
.hapus:hover 	{
	background-color: #EB5757;
	color: #FFFFFF;
}
.buat-event 	{
	background-color: #0065FF;
	color: #FFFFFF;
	border-radius: 4px;
}
.buat-event:hover 	{
	background-color: #FFFFFF;
	color: #AFB8C3;
}
</style>

