<template>
  <div class="about">
    <h1>This is an about Me</h1>
             <div class="container">
            <div>
            <h1>Lilik Setiyaningsih - CV</h1>
            <p>My name is <strong>Lilik</strong> Setiyaningsih.
            I am a fullstack web developer
            </p>
            <img width="150" height="190" src="../assets/lilik_s1si.jpg">
            </div>

            <div class="box-container">
                <div>
                <h2>Pengalaman</h2>
                <ul>
                    <li>Freelance web developer - 2017 - now</li>
                    <li>Freelance web developer - 2017 - now</li>
                    <li>Freelance web developer - 2017 - now</li>
                </ul>
                </div>
            <div>
            <h2>Kontak</h2>
            <ul>
                <li>Twitter: @lili</li>
                <li>FB: @lilik</li>
            </ul>
            </div>
        </div>
    </div>

  </div>



  
</template>

<style>
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width:800px;
    margin: 0 auto;
}

.box-container{
    display: flex;
    flex-direction: row;
}
.box-container > div{
    flex: 1;
    margin: 0 3px;
    padding: 10px;
    background-color:rgba(250, 134, 178, 0.336);
}
@media only screen and (max-width: 480px){
    .box-container{
        flex-direction: column;
    }
    .box-container> div{
        margin: 10px 0;
    }
}
</style>

