<template>
<div class="body1">

  <div class="home" >
<navigasi/>
	<div class="row" style="padding-top: 57px; padding-left: 80px;">
    <div class="col-sm-6">
    	<div class="container">
			<div class="deskripsi">
				<h2 class="font-weight-bold">Apa itu RelaOne ?</h2><br>	
				<p><b class="font-weight-bold">RelaOne</b> merupakan sebuah aplikasi yang dapat memudahkan untuk menemukan kegiatan sukarelawan yang paling sesuai dengan minat dan kemampuan calon relawan.</p><br>	
				<p><b class="font-weight-bold">RelaOne for Organization</b> adalah layanan bagi komunitas kerelawanan untuk memudahkan pencarian relawan yang paling dibutuhkan saat ini.</p>
			</div><br>
			<button type="button" class="btn btn-warning"><a href="">DAPATKAN DIPLAYSTORE</a></button>
		</div>
    </div>
    <div class="col-sm-6" style="padding-left: 90px;">
    	<img class="gambar1" alt="Vue logo" src="../assets/hp.png">
    </div>
  	</div>
  </div>


  <div class="alur" id="alur">
	 <div class="hal2"><b class="font-weight-bold">Bagaimana RelaOne Bekerja?</b></div>
		<div class="row">
		    <div class="col-sm-6" >
		    	<div class="media">
				  <img src="../assets/bulat.png" class="align-self-start mr-3" style="width:60px">
				  <div class="media-body">
				    <h4>1. Daftar</h4><br>
				    <p>Bergabung bersama <b>RelaOne</b> untuk menjadi bagian dari kegiatan sukarelawan. <a href="#">Daftar Disini</a></p>
				  </div>
				</div>
		    </div>

		    <div class="col-sm-6" >
		    	<div class="media">
				  <img src="../assets/bulat.png" class="align-self-start mr-3" style="width:60px">
				  <div class="media-body">
				    <h4>3. Cari Kegiatan</h4><br>
				    <p><b>RelaOne</b> akan memberikan rekomendasi kegiatan yang paling sesuai dengan profil kamu. Belum puas? kamu bisa cari sendiri <a href="#">Kegiatannya</a>!</p>
				  </div>
				</div>
		    </div><br>
		    <div class="col-sm-12" >
		    	<div class="media">
				  <img src="../assets/bulat.png" class="align-self-start mr-3" style="width:60px">
				  <div class="media-body1" >
				    <h4>2. Lengkapi Profil</h4><br>
				    <p>Semakin lengkap data diri yang kamu isikan. semakin mudah pula kamu mendapatkan kegiatan sukarelawan yang sesuai.</p>
				  </div>
				</div>
		    </div>
	 	</div>
	 </div>

	<div class="pendapat" id="pendapat" >
		<div class="testimoni"><h2><b class="font-weight-bold">Testimoni</b></h2></div>
			<div class="container mt-3" style="padding-top:90px">
			  <div class="media border p-3">
			    <img src="../assets/lilik_s1si.jpg"  class="mr-3 mt-3 rounded-circle" style="width:150px;">
			    <div class="media-body">
			      <h3 class="font-weight-bold">Lilik Setiyaningsih</h3>
			  		<p>Aktivis relawan</p><br>
			      <p>"Sebagai aktivis di salah satu komunitas kebencanaan, saya merasa sangat terbantu dengan adanya aplikasi <b class="font-weight-bold">RelaOne</b>. Kami dapat dengan mudah melakukan seleksi dan perekrutan calon relawan sesuai dengan kualifikasinya."</p>      
			    </div>
			  </div>
			</div>
	</div>


	<footer>
		<div class="last" id="last">
		<div class="kontak" style="width: 100%; padding-top: 30px;">
			<h2 class="font-weight-bold" style="width: 30%; padding-bottom: 60px; font-size: 35px; text-align: center; ">Hubungi Kami</h2>
			<form action="/action_page.php">
		    <div class="form-group">
		      <input type="email" name="" class="form-control" rows="5" id="comment" name="text" placeholder="Masukan alamat e-mail anda.." style="width: 50%; padding-bottom: 10px;"></input><br>
		      <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Tulis pesan anda.."></textarea>
		    </div>
		    <button type="submit" class="btn btn-warning" style="width: 10%; align-items: center;" >Kirim</button>
		  </form>
		
		</div>
		</div>
	</footer>


</div>
</template>



<style type="text/css" scoped>

.home{
	background: #0052CC;
	background-image: url(../assets/back.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 600px;
	width: 100%;
	height: 650px;
	padding-top: 95px;
	
}	

.background-image{
	width: 100px;

}
p{
	line-height: 22px;
}


.gambar1{
	width:340px;
	margin: 0 auto;
	
}

.hp{
	padding-left: -100px;
	padding-top: 5px;
	float: right;
}

.row1{
	float: right;
	margin-top: -330px;

}
.btn {
	width: 250px;
	text-align: left;
	float: left;
}

.btn a{
	color: #fff;

}

.conten1{
	padding: 30px;
	
}

h2{
	font-size: 48px;
	
}

.container{
	width: 950px;
	margin: 0 auto;
	padding-left:30px;

}

.deskripsi {
	width:65%;
	padding: 5px;
	padding-top: 65px;
	color: #fff;
	padding-right: 30px;
	text-align: left;
	z-index: -10;
}

.deskripsi h2{
	font-family: Latobold;

}

.deskripsi p{
	font-family: arial;
	font-size: 20px;
	font-style: normal;
}
#alur{
	height: 650px;
	margin-top: 70px;
	margin-bottom: -30px;
	z-index: 8;

}
.hal2{
	color: #000;
	text-align: center;
	font-size: 40px;
	font-style: bold;
	padding: 20px 0;
}

.tabel1{
	color: orange;
	width:70%;
	height: 470px;
    border: 1px solid black;
    border-color: black;
    padding: 30px;
    margin: 50px;
    float: center;
    text-align: center;
}


.media{
	color: #000;
	padding: 78px;
	margin-left: 40px;
	word-spacing: 1px;
}

.media-body{
	margin-left: 70px;
	margin-right: 65px;
}

.media-body1{
	margin-top: -90px;
	margin-left: 350px;
	margin-right: 350px;
}

.pendapat{
	padding-top: 40px;
	height: 648px;
	background-color: #f0f0f0;
	background-size: 625px;
	background-image: url(../assets/backwar.png);
	background-repeat: no-repeat;
	background-position: left;
	
}

h3{
	font-size: 22px;
}
.testimoni{
	color: #000;
	text-align: center;
}


footer{
	align-content: center;
	align-items: center;
	background: blue;
	width: 100%;
	height: 642px;
	background-image: url(../assets/relawan.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}	

.h2footer{
	padding-top: 20px;
	text-align: center;
}

.last{
margin-left: 450px;
}
textarea{
	height: 200px;
	width: 50%;
}
form [class*="col-"]{
	margin-left: 600px;
	padding-right: 15px;
	padding-left: 15px;
	border: none;

}
</style>

<script>
	import navigasi from '@/components/Navigasi.vue'
	export default{
		components:{
			navigasi
		}
	}

</script>
