<template>
    <BODY>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-5">
               <img  class="mx-auto d-block" style="width:20%; padding-top: -100px; margin-top: -30px;" alt="Vue logo" src="../assets/logopng.png"> 
            </div>
        </div>
        <div class="row box-registration">
            <div class="col-md-6 bg-registration">
                 <img class="gambar" style="float: right;" alt="Vue logo" src="../assets/image.png">
            </div>
            <div class="col-md-6 pt-3 pb-3 pl-3 pr-3">
                <h2 class="mb-4" style="font-size: 40px;">Registrasi </h2>
                <form class="mb-3" v-on:submit="registrasi_user">
                    <div class="form-group">
                        <label for="name" class="text-primary">Nama Depan</label>
                        <input type="name" class="form-control input-material" id="exampleInputName" aria-describedby="name" placeholder="">
                    </div>
                     <div class="form-group">
                        <label for="name" class="text-primary">Nama Belakang</label>
                        <input type="name" class="form-control input-material" id="exampleInputEName1" aria-describedby="name" placeholder="">
                    </div>
                    <div class="form-group">
                    <label for="exampleInputEmail1" class="text-primary">Email Organisasi</label>
                        <input type="email" class="form-control input-material" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputPassword1" style="border: none;">Kata Sandi</label>
                        <input type="password" class="input-material" id="exampleInputPassword" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="text-primary" for="exampleInputPassword1">Ulangi Kata Sandi</label>
                        <input type="password" class="form-control input-material" id="exampleInputPassword1" placeholder="">
                    </div>
                    <div class="alert alert-info" role="alert" v-if="status == 'success'">
                            Success !
                        </div>
                        <div class="alert alert-danger" role="alert" v-if="status == 'error'">
                            Failed !
                        </div>
                    <div class="form-group">
                        <p>dengan mendaftar anda telah<br> menyetujui <span><a href="">syarat dan ketentuan</a></span> aplikasi</p>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block style-button">Daftar</button>
                </form>
            </div>
        </div>
    </div>                             
</BODY>
</template>

<script>
import { registrasi_user } from '../services/registrasi_user.js'
  export default {
    name : "reg",
    data() {
        return{
          first_name : "",
          last_name : "",
          email : "",
          password : "",
          password_confirmation : "",
          status:""
        }
    },
    methods: {
      registrasi_user(ev){
        ev.preventDefault()
        console.log("hello")
        const first_name=this.first_name;
        const last_name=this.last_name;
        const email=this.email;
        const password=this.password;
        const password_confirmation=this.password_confirmation;
        console.log(first_name, last_name, email, password, password_confirmation);
        registrasi_user.login1(first_name, last_name, email, password, password_confirmation).then(data => {   //callback, untuk menangkap input dari rest API
                if(data.status=="success"){
                    // alert("login Berhasil")
                    this.status = "success"
                } else{
                    // alert("login gagal")
                    this.status = "error"
                }
            })
      }
    }
  }
</script>

<style scoped>
.logo {
    width: 200px;
}
.box-registration {
background-color: #fff;
}
body#Registration{
background-color: #f6f8f8;
}
.bg-registration    {
    background-size: cover;

}
.input-material {
    border: none;
    border-bottom: 3px solid #cecece;
}

.input-material:focus {
    border: none;
    border-bottom: 2px solid #007bff;
    box-shadow: none;
}
.style-button   {
    letter-spacing: 3px;
}





/* Bordered form */
body{
       height: 90px;
       color:  #0052CC;
}

.gambar{
    padding-left: 180px;
    padding-top: -100px;
}

.gambar2{
  
  padding: 10px;
  margin: 10px;
}

form {
    /*border: 3px solid #f1f1f1;*/
    width : 400px;
    padding-top: -90px;
    margin-top:5px;
    margin-bottom: 140px;
    /*box-shadow : 0px 5px 25px -5px pink;*/

}

.font-weight-bold{
	font-size: 25px;
	padding-left: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0.5px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
</style>
