<template>
    <BODY>
    <div class="bground"> 
     <img  class="mx-auto d-block" style="width:20%; padding-top: 30px;" alt="Vue logo" src="../assets/logopng.png">   
       <div>  
            <div class="row" style="padding-top: 30px;">
              <div class="col-sm-6" style="padding-top: 50px;">
                   <img class="gambar" style="float: right;" alt="Vue logo" src="../assets/image.png">
              </div>
              <div class="col-sm-6" style="float: left;">
                  <form v-on:submit="login">
                    <div class="font-weight-bold" style="font-size: 40px; padding-left: 10px;"><h2>Login</h2></div>
                      <div class="container">
                        <label for="uname"><b>E-mail</b></label> <br>
                         
                        <input type="text" placeholder="masukan E-mail" name="uname" v-model="email" required>

                        <label for="uname"><b>Password</b></label> <br>
                        <input type="password" placeholder="Enter Password" name="psw" v-model="password" required>

                        <div class="alert alert-info" role="alert" v-if="status == 'success'">
                            Success !
                        </div>
                        <div class="alert alert-danger" role="alert" v-if="status == 'error'">
                            Failed !
                        </div>
                        
                        <button type="submit" class="btn btn-info" style="width: 100px; float: right;">Login</button>
                        <span class="psw" style="float: left;" >Lupa <a href="#">kata sandi?</a></span>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>                             
</BODY>
</template>

<style scoped>


/* Bordered form */
/*body{
    background-color: #0052CC;
       height: 90px;
}*/

.gambar{
   
}

.gambar2{
  
  padding: 10px;
  margin: 10px;
  }
  
form {
    /*border: 3px solid #f1f1f1;*/
    width : 400px;
    margin-top: 90px;
    /*box-shadow : 0px 5px 25px -5px pink;*/

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    color: #000;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
</style>
<script>
import auth from '../services/auth'
  export default {
    name : "login",
    data() {
        return{
          email : "",
          password : "",
          status:""
        }
    },
    methods: {
      login(ev){
        ev.preventDefault()
        console.log("hello")
        const email=this.email;
        const password=this.password;
        console.log(email,password);
        auth.login(
            email,password).then(data => {   //callback, untuk menangkap input dari rest API
                if(data.status=="success"){
                    // alert("login Berhasil")
                    this.status = "success"
                } else{
                    // alert("login gagal")
                    this.status = "error"
                }
            })
      }
    }
  }
</script>