<template>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="gambar2" alt="Vue logo" src="../assets/logo1.png">
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item"><router-link to="/">Beranda</router-link></li>&nbsp&nbsp&nbsp
      <li class="nav-item"><a href="#alur" v-smooth-scroll="{ duration: 1000, offset: 0 }">Cara Kerja</a></li>&nbsp&nbsp&nbsp
      <li class="nav-item"><a href="#pendapat" v-smooth-scroll="{ duration: 1000, offset: 0 }">Testimoni</a></li>&nbsp&nbsp&nbsp
      <li class="nav-item"><a href="#last" v-smooth-scroll="{ duration: 1000, offset: 0 }">Hubungi Kami</a></li>&nbsp&nbsp&nbsp
      <li class="nav-item"><router-link to="/login1" style="width: 80px;">Daftar Sekarang!</router-link></li>&nbsp&nbsp&nbsp
      <li class="nav-item"><router-link button type="button" style="margin-top: -10px;" class="btn btn-warning"  to="/login" ><b>Login</b></router-link></li>
    </ul>
  </div>
</nav>
</template>

<style scoped>
img{
  padding: 10px;
  margin-top: 2px;
  }

.navbar{
  background-color: #0052CC;
  flex-direction: none;
  margin-left: 0px;
  padding-left: -10px;
  margin-top: -95px;
  color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 999;

  
}


.nav-item{
  font-weight: bold;
  text-decoration-color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    color:white;
    z-index: 4;
}

.nav li a{
  color: #fff;
}
/*.navbar {
	background-color:#0052CC; 
  padding: 30px;
  float:right;
  width: 100%;
	height: 80px;
  position: fixed;
}

#nav a {
  font-weight: bold;
  color: #fff;
}*/

/*#nav a.router-link-exact-active {
  color: #fff;
}*/


/*#app {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  color: #fff;
  margin: 0px;
}


.btnlog {
  width: 100px;
  background-color: orange;
}
*/
    </style>